[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[packages]
"contextlib2" = "==0.5.5"
mock = { version = "==1.1.2", markers = "python_version < '3.3' and python_version >'3.0'"}
django = "==1.4"
